<div class="user">
  <h1>Your Account</h1>
  <p>Username: <%= @user.username %></p>
  <p><a href="/users/<%=@user.id%>/edit">Create a Joke</a></p>
  <p><a href="/users/<%=@user.id%>/edit">Edit a Joke</a></p>


  <h2>Your Jokes</h2>
  <% @user.jokes.each do |joke| %>
    <p><%= joke.title %> 
  <% end %>


<a href="/users/logout">Log Out</a>