

<div class="user">
  <h1>Your Account</h1>
  <p>Username: <%= @user.username %></p>
  <p><a href="/jokes/new">Create a Joke</a></p>
  


  <p>Your Jokes</p>
  <% @user.jokes.each do |joke| %>
    <p><a href="/jokes/<%=@user.id%>/edit"><%=joke.title %></a></p>
  <% end %>

<p>
<h3> <h3>

<a href="/logout">Log Out</a>