<h1> Create a Joke! </h1>

<form action= '/jokes' method="POST">
Title: <input type=text name="title">
Genre: <input type=text name="genre">
Punchline: <input type=text name="punchline">
Characters: <input type=text name="characters">
Setting: <input type=text name="setting">
<input type=submit>
<form>