<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<head>

<body>
  <h1> Funny Factory <h1>

  <p>

  <body>
  <a href="/jokes">All Jokes</a>  <a href="/users">All Users</a>
  <%=yield%>

  <body>


  